body{
    background-color: rgb(224, 143, 20) !important;
}
.card{
height: 100% !important;
}

#navDiv{
background-color: rgb(7, 60, 121);
height:80px; 
text-align: center;
font-weight: 1000;
font-size: 55px;
position: relative;
color: azure;


}

#cardbtn{
background-color: rgb(79, 198, 249) ;
border: solid rgb(7, 7, 7) 2px ;


}